body{
    background:  linear-gradient(to top, transparent, #00000071), url("../../LoginBackGif.gif");
    background-repeat: no-repeat;
    background-size: 2000px 1000px; 
}

.textfield__label {
    color: white;
}